<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="sapid">
	{$sapid_editcontrol}
	</control>
	<control field="cpfno">
	{$cpfno_editcontrol}
	</control>
	<control field="desig_id">
	{$desig_id_editcontrol}
	</control>
	<control field="firstname">
	{$firstname_editcontrol}
	</control>
	<control field="quarterno">
	{$quarterno_editcontrol}
	</control>
	<control field="mobileno">
	{$mobileno_editcontrol}
	</control>
	<control field="email">
	{$email_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>